<footer class="footer img-prop">
  <div class="content">

    <div id="footer" class="container">
      <div class="widget">
        <h3 style="margin-left: 8px;">{{"CONTACT_ME_TITLE" | translate}}</h3>
        <form action="#">

          <input type="text" class="flied-text" placeholder="{{'NAME' | translate}}">


          <input type="email" class="flied-text" placeholder="{{'EMAIL' | translate}}">


          <input type="text" class="flied-text" placeholder="{{'SUBJECT' | translate}}">


          <textarea class="field-area" cols="36" rows="5"></textarea>


          <input class="btn" type="button" value="{{'SUBMIT' | translate}}">

        </form>
      </div>
      <div class="widget info">
        <p>{{developer.name}}</p>
        <p>{{"CELLPHONE" | translate}}: {{developer.cellphone}}</p>
        <p>{{"EMAIL" | translate}}: {{developer.email}}</p>
        <p>{{"RESIDENCE_ADDRESS" | translate}}:</p>
        <p>{{developer.addres}}</p>
        <nav class="socials">
          <ul>
            <li>
              <a href="http://facebook.com"><span> Facebook</span></a>
            </li>
            <li>
              <a href="http://twitter.com"><span> Twitter</span></a>
            </li>
            <li>
              <a href="http://youtube.com"><span> YouTube</span></a>
            </li>
            <li>
              <a href="http://instagram.com"><span> Instagram</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</footer>
