<div class="container shadow">
  <div class="profile">
    <div class="content">
      <h4>{{"ABOUT_TITLE" | translate}}</h4>
      <p>{{developer.about | translate}}
      </p>
    </div>
    <div class="content">
      <h4>{{"BASIC_INFORMACION_TITLE" | translate}}</h4>
      <div class="data-basic">
        <div class="row">
          <div class="field">
            <strong>{{"AGE" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.birthdate | birthdate }}</label>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <strong>{{"EMAIL" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.email}}</label>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <strong>{{"PHONE" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.phone}}</label>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <strong>{{"CELLPHONE" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.cellphone}}</label>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <strong>{{"ADDRESS" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.addres}}</label>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <strong>{{"LANGUAGES" | translate}}</strong>
          </div>
          <div>
            <label>{{developer.language| translate}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>